* {
    color : #fff;
    font-family: 'Epilogue', sans-serif;
    text-decoration: none;
}

body {
    background: #000;
}

.nav {
    background-image: linear-gradient(45deg, purple, #dc3545);
    width: 100%;
    height: 80px;
    display: flex;
    
    justify-content: space-between;
    
    position: fixed;
    top: 0;

    z-index: 100;
    transition: ease-in-out .5s;

}

.tittle {
    text-align: center;
}

.contenedor-links {
    padding-top: 30px;
}



.contenedor-links > a{
    text-transform: uppercase;
    color: silver;
    font-size: 20px;
    text-decoration: none;
    vertical-align: center;
    padding-left: 15px;
    transition: .3s;
    
}

.contenedor-links > a:hover {
    font-size: 30px;
}

#user {
    margin: 10px;
    margin-top: 15px;
}

#user, .socials > i{
    font-size: 30px;
    transition: .3s;
}

.socials{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, purple, #dc3545);
    width: 60px;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 38%;
    right: -70px;       
    transition: .5s;
}

.socials:hover {
    right: 0;
    cursor: pointer;
}

.socials > i, #user {
    padding: 10px;
    cursor: pointer;
}

.socials > i:hover, #user:hover {
    font-size: 40px;
}

/*        logo             */

.logo {
    height: 550px;
    margin-bottom: 20px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.letra {
    width: 250px;
    padding: 35px;
    border: silver solid;
    border-radius: 15px;
}

.letra > h2, .letra > p {
    padding: 10px;
}

.caja-link {
    
    padding: 15px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 20px;
    transition:.9s;  
}


.caja-link:hover{
    color: silver;
    background-image: linear-gradient(45deg, purple, #dc3545);
    cursor: pointer;
}

.logo-img {
    width: 600px;
    height: 400px;
}

/***************************/

.services {
    width: 90%;
    height: 400px;
    background-image: url(./media/pexels-marta-branco-1194713.jpg);
    background-size: 100%;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border: silver solid;
    border-radius: 15px;
}

.services-content {
    width: 900px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    border: silver solid;
    border-radius: 15px;
    width: 200px;
    height: 270px;
    margin: 10px;
    background: rgba(136, 135, 137, .4);
    opacity: .7;
    transition: .5s;
}

.container:hover {
    opacity: 1;
    cursor: pointer;
    background-image: linear-gradient(45deg, purple, #dc3545);
}

.container > i {
    font-size: 40px;
    text-align: center;
    padding: 10px 10px 10px 35%;
}

.container > p {
    font-size: 12px;
}

.container > h2, p {
    text-align: center;
}

.products {
    width: 90%;
    height: 600px;
    background-image: url(./media/asd.jpg);
    background-size: 100%;
    border: silver solid;
    border-radius: 15px;
    
    margin-left: 60px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
}

.products-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(136, 135, 137, .5);
    width: 90%;
    height: 100px;
    padding-bottom: 15px;
    border-radius: 15px;
    margin: 20px 10px 0px 70px;
    
}

.products > :first-child {
    margin-top: 40px;
}

.comp {
    display: flex;
    flex-direction: column;
}

.componentes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.componentes1 {
    margin-left: 30px;
}
.componentes1 > :first-child, .componentes > :first-child {
    border-bottom: #fff solid;
}
.extra {
    text-align: center;
    border-top: #fff solid;
    padding-top: 20px;
}

.extra2 {
    text-align: center;
    border-top: #fff solid;
    text-transform: uppercase;
    
}

.tittle-prod > h3 {
    font-size: 20px;
    align-content: center;
    
}

.tittle-prod > :last-child, .title-comp {
    text-align: center;
}

.audio, #hamburguer, .socials2{
    display: none;
}

.main {

    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    padding-right: 90px;
    
    background-color: rgba(204, 190, 183, 0.8);

    position: fixed;
    top: 0%;
    right: -1000px;

    border: tomato 5px solid;
    transition: .6s;
}

.main2 {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    padding-right: 100px;

    background-color: rgba(204, 190, 183, 0.8);

    position: fixed;
    top: 20%;
    right: 20%;

    border: tomato 5px solid;

    transition: .6s;
    
}


.mostrar-main {
    width: 100%;
    height: 100%;
    background-color: rgba(163, 163, 163, .4);
}

.formulario {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    */

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #000;
    border: 3px solid transparent silver;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    color: tomato;
    
}

.formulario__input:hover {
    background-color: rgba(136, 135, 137, .4);
    color: turquoise;
}

.formulario__input:focus {
    border: 3px solid #dc3545;
    outline: none;
    box-shadow: 3px 0 30px rgba(163, 163, 163, .4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar,
.btnExit 
{
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background-color: tomato;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar, .btnExit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn, .btnExit2 {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: skyblue;
    font-weight: bold;
    border: 2px solid silver;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s esae all;
}


.formulario__btn:hover, .btnExit2:hover {
    background-image: linear-gradient(45deg, purple, #dc3545);
    color: silver;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}


/*          VALIDACION         */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
  }

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}
  
.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

@media screen and (max-width: 800px) {
    
    
    .nav {
        margin-bottom: 110px;
    }
    
    .contenedor-links > a {
        font-size: 18px;
        transition: .3s;
    }

    .contenedor-links > a:hover {
        font-size: 20px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }

    .letra {
        width: 600px;
        align-items: center;
    }

    .titulo-emp {
        text-align: center;
    }

    .logo-img {
        width: 400px;
        padding: 30px;
    }

    .services, .products {
        width: 85%;
        height: 800px;
        justify-content: center;
        align-items: center;

    }

    .services-content  {
        width: 500px;
        height: 650px;

        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }

    .container {
        width: 180px;
    }

    .container > h2 {
        font-size: 35px;
    }

    .container > p {
        font-size: 14px;
    }

    .products-content {
        width: 550px;
        
        margin-right: 70px;
    }

    .title-comp {
        font-size: 14px;
    }

    .extra2 {
        font-size: 12px;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {

    .contenedor-links {
        position: fixed;
        background: linear-gradient(45deg, purple, #dc3545);

        top: 0;
        right: 0px;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

        clip-path: circle(0.0% at 100% 0);
        transition: .5s;
    }

    #hamburguer, .hamburguer {
        display: block;
    }

    .nav .menu-effect {
        clip-path: circle(150% at 100% 0);
    }

    
    .eft {
        right: 0;
    }


    .nav {
        width: 100%;
        left: 0px;
        
    }

    .socials, #user {
        display: none;
    }

    .socials2 {
        width: 399px;
        height: 50px;
        background-image: linear-gradient(45deg, purple, #dc3545);

        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;

        z-index: 100;
        transition: ease-in-out .5s;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly; 
        
        margin-top: 10px;
    }

    .socials2 > i {
        color: silver;
        font-size: 30px;
        padding-top: 8px;
        transition: .3s;
        
    }

    .socials2 > :first-child {
        margin-left: 40px;
    }

    .socials2 > :last-child {
        margin-right: 50px;
    }

    .socials2 > i:hover {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .letra {
        padding: 5px;
        width: 250px;
        height: 300px;
        margin-left: 30px;
        margin-top: -80px;
    }

    .logo {
        margin-top: 170px;
    }

    .logo-img {
        width: 280px;
        height: 300px;
        margin-top: 15px;
        margin-left: 25px;
        margin-bottom: -100px;
    }

    .services, .products {
        width: 250px;
        height: 1000px;
        
    }

    .services-content {
        width: 280px;
        height: 900px;

        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
        justify-content: center;
        align-content: center;

    }

    .container {
        width: 95px;
    }

    .container > h2 {
        font-size: 18px;
    }

    .container > p {
        font-size: 12px;
    }

    .container > #star, #code, #tuerc {
        margin-left: -10px;
    }

    .products {
        width: 250px;
        height: 1500px;
        margin-bottom: 80px;

        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }

    .products-content {
        width: 110px;
        height: 600px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        margin-right: -10px;
        
    }

    .products > #uno,.products > #tres {
       
        margin-left: 10px;
    }

    .products > #dos,.products > #cuatro {
        margin-left: 5px;
    }

    .products > #uno {
        margin-top: 10px;
    }

    .products > #dos {
        margin-top: 10px;
    }

    .comps {
        
        margin-right: 30px;
    }

    .asd {
        width: 110px;
    }

    .title-prod2 > h3 {
        font-size: 18px;
    }

    .extra22 {
        width: 110px;
    }

    .extra22 {
        font-size: 11px;
    }

    .title-prod2 {
        margin-bottom: 8px;
    }

    .hamburguer {
        font-size: 35px;
        width: 20px;
        height: 20px;

        margin: 25px;
        
    }

    .hamburguer:hover {
        cursor: pointer;
    }

    
}

