* {
    color : silver;
    font-family: 'Epilogue', sans-serif;
    text-decoration: none;
}

body {
    background: #000;
}

/*  Barra Superior*/

.nav {
    background-image: linear-gradient(45deg, purple, #dc3545);
    height: 80px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    
    position: fixed;
    top: 0;

    transition: ease-in-out .5s;
    z-index: 100;
}

/*  Icono Hamburguesa para pantalla tam celular*/
.hamburguer {
    cursor: pointer;
    height: 80px;
    width: 80px;
    text-align: center;
  
    cursor: pointer;
    display: none;
    transition: color 0.5s ease-in;
    z-index: 100;
  }
  
.hamburguer > i {
    font-size: 25px;
    line-height: 80px;

    align-content: center;
    justify-content: center;
    margin-right: -100px;
}

.tittle {
    text-align: center;
}

.contenedor-titulo {
    align-self: center;
}

/*  Contenedor de links barra superior */
.contenedor-links {
    margin-right: 180px;
    padding-top: 30px;
}



.contenedor-links > a{
    color: silver;
    font-size: 20px;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    vertical-align: center;
}

.contenedor-links > a:hover {
    font-size: 30px;
}
 
.socials > i{
    font-size: 30px;
    transition: .3s;
}

/*  contenedor iconos redes sociales  para pantallas grandes(lado derecho)*/
.socials{
    background-image: linear-gradient(45deg, purple, #dc3545);
    padding: 15px;
    width: 60px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 38%;
    right: -70px;       
    transition: 0.5s;
}

/*  mostrado de barra redes sociales*/
.socials:hover {
    cursor: pointer;
    right: 0;
}

.socials > i {
    cursor: pointer;
    padding: 10px;
}

.socials > i:hover{
    font-size: 40px;
}

/*  Area de logo e imagen*/

.logo {
    height: 550px;
    margin-bottom: 20px;
    padding-bottom: 60px;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.letra {
    border: silver solid;
    border-radius: 15px;
    width: 250px;
    padding: 35px;
}

.letra > h2,
.letra > p {
    padding: 10px;
}

.caja-link {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    padding: 15px;
    text-align: center;
    transition: 0.9s;  
}

.caja-link:hover{
    color: silver;
    cursor: pointer;
    background-image: linear-gradient(45deg, purple, #dc3545);
}

.logo-img {
    height: 400px;
    width: 600px;
}

/*  Servicios de la empresa*/

.services {
    align-items: center;
    background-image: url(./media/pexels-marta-branco-1194713.jpg);
    background-size: 100%;
    border: silver solid;
    border-radius: 15px;
    display: flex;
    height: 400px;
    justify-content: center;
    margin-left: 60px;
    margin-top: 60px;
    width: 90%;
}

.services-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 700px;
    justify-content: space-evenly;
    width: 900px;
}

.container {
    background: rgba(136, 135, 137, .4);
    border: silver solid;
    border-radius: 15px;
    height: 270px;
    margin: 10px;
    opacity: 0.7;
    transition: 0.5s;
    width: 200px;
}

.container:hover {
    background-image: linear-gradient(45deg, purple, #dc3545);
    cursor: pointer;
    opacity: 1;
}

.container > i {
    font-size: 40px;
    padding: 10px 10px 10px 35%;
    text-align: center;
}

.container > p {
    font-size: 12px;
}

.container > h2, 
p {
    text-align: center;
}

/*  Productos */
.products {
    background-image: url(./media/asd.jpg);
    background-size: 100%;
    border: silver solid;
    border-radius: 15px;
    height: 600px;
    width: 90%;
    
    margin-left: 60px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
}

.products-content {
    align-items: center;
    background: rgba(136, 135, 137, .5);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-evenly;
    margin: 20px 10px 0px 70px;
    padding-bottom: 15px;
    width: 90%;
}

.products > :first-child {
    margin-top: 40px;
}

.comp {
    display: flex;
    flex-direction: column;
}

.componentes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.componentes1 {
    margin-left: 30px;
}
.componentes1 > :first-child, 
.componentes > :first-child {
    border-bottom: #fff solid;
}

/*  tecnologias(2)  */
.extra {
    border-top: #fff solid;
    padding-top: 20px;
    text-align: center;
}

/*  tecnologias(3)  */
.extra2 {
    border-top: #fff solid;
    text-align: center;
    text-transform: uppercase;
    
}

.tittle-prod > h3 {
    align-content: center;
    font-size: 20px;
}

.tittle-prod > :last-child, 
.title-comp {
    text-align: center;
}

.audio, 
#hamburguer, 
.socials2{
    display: none;
}

/*  Contenedor de Formulario(oculto)    */
.main {
    background-color: rgba(204, 190, 183, 0.8);
    border: tomato 5px solid;
    margin: auto;
    max-width: 800px;
    padding: 40px;
    padding-right: 90px;
    width: 90%;
    
    position: fixed;
    right: -1000px;
    top: 0%;

    transition: 0.6s;
}

/*  Contenedor de Formulario(aparece)    */
.main2 {
    background-color: rgba(204, 190, 183, 0.8);
    border: tomato 5px solid;
    margin: auto;
    max-width: 800px;
    padding: 40px;
    padding-right: 100px;
    width: 90%;

    position: fixed;
    right: 20%;
    top: 20%;

    transition: 0.6s;    
}

/*     Armado de formulario */
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario__label {
    cursor: pointer;
    display: block;
    font-weight: 700;
    padding: 10px;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    background: #000;
    border: 3px solid transparent silver;
    border-radius: 5px;
    color: tomato;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: 0.3s ease all;
    width: 100%;
}

.formulario__input:hover {
    background-color: rgba(136, 135, 137, 0.4);
    color: turquoise;
}

.formulario__input:focus {
    border: 3px solid #dc3545;
    box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
    outline: none;
}

.formulario__input-error {
    display: none;
    font-size: 12px;
    margin-bottom: 0;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    bottom: 15px;
    font-size: 16px;
    opacity: 0;
    position: absolute;
    right: 10px;
    z-index: 100;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar,
.btnExit 
{
    grid-column: span 2;
}

.formulario__mensaje {
    background-color: tomato;
    border-radius: 3px;
    display: none;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar, 
.btnExit {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formulario__btn, 
.btnExit2 {
    background: #000;
    border: 2px solid silver;
    border-radius: 3px;
    color: skyblue;
    cursor: pointer;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    transition: .1s esae all;
    width: 30%;
}

.formulario__btn:hover, 
.btnExit2:hover {
    background-image: linear-gradient(45deg, purple, #dc3545);
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
    color: silver;
}

.formulario__mensaje-exito {
    color: #119200;
    display: none;
    font-size: 14px;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/*          VALIDACION         */
.formulario__grupo-correcto 
.formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto 
.formulario__label {
    color: #bb2929;
  }

.formulario__grupo-incorrecto 
.formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}
  
.formulario__grupo-incorrecto 
.formulario__input {
    border: 3px solid #bb2929;
}

@media screen and (max-width: 800px) {
    
    
    .nav {
        margin-bottom: 110px;
    }
    
    .contenedor-links {
        margin-left: 20px;
    }

    .contenedor-links > a {        
        font-size: 15px;
        transition: .3s;
    }

    .contenedor-links > a:hover {
        font-size: 17px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }

    .letra {
        align-items: center;
        width: 600px;
    }

    .titulo-emp {
        text-align: center;
    }

    .logo-img {
        padding: 30px;
        width: 400px;
    }

    .services, .products {
        align-items: center;
        height: 800px;
        justify-content: center;
        width: 85%;
    }

    .services-content  {
        height: 650px;
        width: 500px;

        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .container {
        width: 180px;
    }

    .container > h2 {
        font-size: 35px;
    }

    .container > p {
        font-size: 14px;
    }

    .products-content {
        margin-right: 70px;
        width: 550px;
    }

    .title-comp {
        font-size: 14px;
    }

    .extra2 {
        font-size: 12px;
        padding: 0;
    }

    .main {
        background-color: rgba(204, 190, 183, 0.8);
        border: tomato 5px solid;
        margin: auto;
        max-width: 800px;
        padding: 40px;
        padding-right: 90px;
        width: 90%;
            
        position: fixed;
        right: -1000px;
        top: 0%;
    
        transition: 0.6s;
    }
    
    .main2 {
        background-color: rgba(204, 190, 183, 0.8);
        border: tomato 5px solid;
        margin: auto;
        max-width: 800px;
        padding: 40px;
        padding-right: 100px;
        width: 500px;
    
        position: fixed;
        right: 20%;
        top: 20%;
    
        left: 8%;
        transition: 0.6s;        
    }
}

@media screen and (max-width: 600px){
    .nav {
        display: grid;
        grid-template-columns: 100px 400px;
    }
    
    .contenedor-links {
        padding-right: 10px;
        width: 400px;
    }
    
    .contenedor-links > a {
        font-size: 10px;
    }

    .contenedor-links > a:hover {
        font-size: 15px;
    }

    .logo {
        height: 850px;
        margin-bottom: -200px;
        margin-top: 80px;
    }

    .letra {
        width: 80%;
    }

    .logo-img {
        margin-bottom: 0fr;
        width: 300px;
    }

    .services,
    .products {
        width: 80%;
    }

    .services {
        height: 1000px;
    }

    .services-content {
        margin-left: -55px;
        
        align-content: center;
        column-span: 20px;
        display: grid;
        grid-template-columns: 150px 150px;
        justify-content: space-evenly;
    }

    .container > h2 {
        font-size: 25px;
    }

    .products {
        height: 1400px;
        

        display: grid;
        grid-template-columns: 150px 150px;
        justify-content: space-evenly;
        column-span: 10px;       
    }

    .products-content {
        height: 600px;
        width: 150px;
        margin: 0;
        
        align-content: space-around;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #uno {
        padding: 0;
        margin: 0;
    }

    .comps {
        padding-right: 25px;
    }

    .main2 {
        background-color: rgba(204, 190, 183, 0.8);
        border: tomato 5px solid;
        left: 8%;
        max-width: 600px;
        margin: auto;
        padding: 40px;
        padding-right: 100px;
        width: 300px;
    
        position: fixed;
        top: 20%;
        right: 20%;
    
        transition: 0.6s;
    }

    .grupo-btn2  {
        display: flex;
        justify-content: space-evenly;
        margin-left: 30px;
    }

    .boton-salir, 
    .boton-envio {
        margin: 10px;
        margin-left: 10px;
        margin-right: -20px;
        margin-top: 30px;
        padding: 0;
        width: 170px;
    }

    .formulario__mensaje {
        font-size: 12px;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        width: 350px;
    }

    .formulario__mensaje-exito {
        right: -200px;
    }
}

@media screen and (max-width: 400px) {

    .contenedor-links {
        background: linear-gradient(45deg, purple, #dc3545);
        position: fixed;
        margin-right: 0px;
        
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        right: 0px;
        top: -30px;
        width: 100%;

        clip-path: circle(0.0% at 100% 0);
        transition: 0.5s;
    }

    #hamburguer, 
    .hamburguer {
        display: block;
    }

    .nav 
    .menu-effect {
        clip-path: circle(150% at 100% 0);
    }

    .eft {
        right: 0;
    }

    .nav {
        left: 0px;
        padding: 0;
        width: 100%;
        
        display: flex;
        flex-direction: row;
    }

    .socials, 
    #user {
        display: none;
    }

    .socials2 {
        background-image: linear-gradient(45deg, purple, #dc3545);
        height: 50px;
        width: 100%;
        margin-top: 10px;

        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;

        transition: ease-in-out .5s;
        z-index: 100;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly; 
    }

    .socials2 > i {
        color: silver;
        font-size: 30px;
        padding-top: 8px;
        transition: .3s;
    }

    .socials2 > i:hover {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .letra {
        height: 300px;
        margin-left: 30px;
        margin-top: -80px;
        padding: 5px;
        width: 250px;
    }

    .logo {
        align-content: center;
        justify-content: center;
        margin-top: 50px;
    }

    .logo-img {
        height: 300px;
        margin-bottom: -100px;
        margin-left: 25px;
        margin-top: 15px;
        width: 280px;
    }

    .services, 
    .products {
        height: 1000px;
        width: 250px;
    }

    .services-content {
        height: 900px;
        width: 100%;
        margin: 0;

        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
        justify-content: space-evenly;        
    }

    .container {
        width: 95px;
    }

    .container > h2 {
        font-size: 18px;
    }

    .container > p {
        font-size: 12px;
    }

    .container > #star, 
    #code, 
    #tuerc {
        margin-left: -10px;
    }

    .products {
        height: 1500px;
        width: 250px;
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .products-content {
        height: 600px;
        width: 110px;
        margin-right: -10px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .products > #uno,
    .products > #tres {
       
        margin-left: 10px;
    }

    .products > #dos,
    .products > #cuatro {
        margin-left: 5px;
    }

    .products > #uno {
        margin-top: 10px;
    }

    .products > #dos {
        margin-top: 10px;
    }

    .comps {
        margin-right: 30px;
    }

    .asd {
        width: 110px;
    }

    .title-prod2 > h3 {
        font-size: 18px;
    }

    .extra22 {
        font-size: 11px;
        width: 110px;
    }

    .title-prod2 {
        margin-bottom: 8px;
    }
    
    .main2 {
        background-color: rgba(204, 190, 183, 0.8);
        border: tomato 5px solid;
        height: 450px;
        left: 8%;
        margin: auto;
        max-width: 300px;
        padding: 40px;
        padding-right: 100px;
        width: 150px;
        
        position: fixed;
        top: 15%;
        right: 20%;
    
        transition: 0.6s;
    }

    .grupo-btn2 {
        height: 25px;
        width: 80%px;

        align-content: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .formulario__input {
        height: 25px;
    }

    .boton-envio,
    .boton-salir {
        margin-top: 40px;
        width: 120px;
    }

    .formulario__mensaje {
        height: 40px;
        font-size: 12px;
        margin: 0;
        margin-left: -35px;
        margin-top: 10px;
        padding: 0;
        width: 280px;
    }

    .formulario__mensaje > p{
        font-size: 10px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .formulario__mensaje-exito {
        font-size: 10px;
    }

    .formulario__validacion-estado  {
        margin-bottom: -9px;
        margin-right: -50px;
        padding-top: 5px;
    }

    .titulo-form {
        font-size: 20px;
    }

    .contenido-form {
        font-size: 11px;
        text-align: start;
    }

    .formulario__label{
        font-size: 13px;
    }

    .letra-form {
        width: 200px;
    }
}